[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=1.4.1"
matplotlib = "~=3.5.1"
python-dateutil = "~=2.8.2"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
